.Weather ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.Weather .CityElement {
    list-style: none;
    border: 1px solid black;
    width: 350px;
    height: 120px;
    padding: 10px;
}

.Weather .CityElement span {
    display: block;
    padding: 2px;
}

.Weather .CityElement .NameCity {
    font-weight: bold;
    font-size: x-large;
}

.Weather {
    margin-top: 15px;
}

.Weather input {
    font-size: 15px;
    line-height: 2;
    padding: 0 5px;
}

.Weather input:focus {
    outline-color: lightgreen;
}
